h2 {
	font-size: px2rem(18px);
	font-weight: 700;
	margin: 35px 0;
	text-transform: uppercase;
	letter-spacing: 2px;
}

p {
	font-size: px2rem(16px);
	letter-spacing: 1.1px;
	line-height: 28px;
}

ul {

	li{
		font-size: px2rem(14px);
		list-style: none;
	}
}



